In [1]:
import pandas as pd
import numpy as np

In [8]:
data = pd.read_csv("~/Keeta-Report/data/data.csv")
data

,day,agent,team_leader,supervisor,total_chats,avg_response_time,csat,active_agents,escalations,resolved,pending,avg_chat_duration,sales_conversion,avg_queue_time
0,2025-10-15,John,Hassan,Omar,13,119.273664,0.940686,8,4,0.698060,6,5.889008,0.439562,116.261834
1,2025-10-15,Sarah,Hassan,Nour,39,81.221410,0.740730,4,3,0.795502,7,11.046841,0.185959,82.413391
2,2025-10-15,Ali,Hassan,Nour,36,158.959777,0.866523,7,2,0.994727,2,4.954789,0.314977,105.222265
3,2025-10-15,Mona,Amira,Omar,21,141.503642,0.813411,3,4,0.623600,6,7.206315,0.279645,113.755212
4,2025-10-14,John,Amira,Omar,21,285.300450,0.856765,9,4,0.635401,0,7.841283,0.139760,28.223172
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,2025-09-17,Mona,Hassan,Omar,35,199.210630,0.838548,6,3,0.650832,2,14.018325,0.147248,91.018547
116,2025-09-16,John,Hassan,Nour,10,44.929461,0.778760,9,0,0.829520,8,8.153614,0.289128,59.174501
117,2025-09-16,Sarah,Hassan,Nour,28,100.742678,0.960624,6,2,0.689606,3,4.814898,0.417023,64.389131
118,2025-09-16,Ali,Amira,Omar,33,211.472135,0.944772,8,2,0.601063,6,3.997529,0.006333,104.449496
119,2025-09-16,Mona,Hassan,Omar,29,60.463599,0.797886,2,4,0.618629,3,14.424908,0.359471,78.268469

In [11]:
data["active_agents"].value_count()

AttributeError: 'Series' object has no attribute 'value_count'