In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import os

# Ensure data folder exists
os.makedirs("data", exist_ok=True)

# Fake names
agents = ["John", "Sarah", "Ali", "Mona"]
leaders = ["Amira", "Hassan"]
supervisors = ["Omar", "Nour"]

# Generate 30 days
days = [datetime.today() - timedelta(days=i) for i in range(30)]

rows = []
for day in days:
    for agent in agents:
        row = {
            "day": day.strftime("%Y-%m-%d"),
            "agent": agent,
            "team_leader": np.random.choice(leaders),
            "supervisor": np.random.choice(supervisors),
            "total_chats": np.random.randint(10, 50),
            "avg_response_time": np.random.uniform(30, 300),
            "csat": np.random.uniform(0.7, 1.0),
            "active_agents": np.random.randint(1, 10),
            "escalations": np.random.randint(0, 5),
            "resolved": np.random.uniform(0.5, 1.0),
            "pending": np.random.randint(0, 10),
            "avg_chat_duration": np.random.uniform(3, 15),
            "sales_conversion": np.random.uniform(0, 0.5),
            "avg_queue_time": np.random.uniform(5, 120)
        }
        rows.append(row)

df = pd.DataFrame(rows)
df.to_csv("data.csv", index=False)
print("Fake data generated at data/data.csv")

Fake data generated at data/data.csv

In [2]:
df.head()

,day,agent,team_leader,supervisor,total_chats,avg_response_time,csat,active_agents,escalations,resolved,pending,avg_chat_duration,sales_conversion,avg_queue_time
0,2025-10-15,John,Hassan,Omar,13,119.273664,0.940686,8,4,0.698060,6,5.889008,0.439562,116.261834
1,2025-10-15,Sarah,Hassan,Nour,39,81.221410,0.740730,4,3,0.795502,7,11.046841,0.185959,82.413391
2,2025-10-15,Ali,Hassan,Nour,36,158.959777,0.866523,7,2,0.994727,2,4.954789,0.314977,105.222265
3,2025-10-15,Mona,Amira,Omar,21,141.503642,0.813411,3,4,0.623600,6,7.206315,0.279645,113.755212
4,2025-10-14,John,Amira,Omar,21,285.300450,0.856765,9,4,0.635401,0,7.841283,0.139760,28.223172